---
Checks:          '-*,
clang-analyzer-*,
cert-*,
-cert-err58-cpp,
-cert-dcl21-cpp,-cert-dcl37-c,-cert-dcl51-cpp,
cppcoreguidelines-slicing,cppcoreguidelines-virtual-class-destructor,
llvm-*,-llvm-header-guard,
misc-*,
-misc-non-private-member-variables-in-classes,
modernize-*,
-modernize-use-default-member-init,-modernize-use-trailing-return-type,-modernize-avoid-c-arrays,-modernize-return-braced-init-list,-modernize-use-nodiscard,-modernize-pass-by-value,
performance-*,
readability-*,
-readability-convert-member-functions-to-static,-readability-implicit-bool-conversion,-readability-magic-numbers,-readability-identifier-length,-readability-isolate-declaration,-readability-function-cognitive-complexity'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     file
...

